# Python Environment
.venv/
venv/
__pycache__/
*.pyc

# Google API Private Secrets
backend/credentials.json
backend/token.json

# Local Uploads, Cache, and Temp Templates
backend/uploads/
backend/templates/
backend/input/

# Frontend Dependencies
frontend/node_modules/
frontend/dist/
frontend/build/
